{% extends 'base.html' %}

{% block title %}Volunteer List{% endblock %}

{% block content %}
    <h1>Volunteer List</h1>
    <ul>
        {% for volunteer in volunteers %}
            <li>
                {{ volunteer.first_name }} {{ volunteer.last_name }} - {{ volunteer.email }}
                <a href="{% url 'volunteer_update' volunteer.pk %}" class="btn">Edit</a>
                <a href="{% url 'volunteer_delete' volunteer.pk %}" class="btn">Delete</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'register' %}" class="btn">Register New Volunteer</a>
{% endblock %}
