{% extends 'volunteer/base.html' %}

{% block title %}CSV Upload Success{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card mt-4">
                <div class="card-header text-white bg-success">
                    <h4 class="mb-0">CSV Import Summary</h4>
                </div>
                <div class="card-body">
                    <p class="card-text">Successfully created <strong>{{ volunteers_created }}</strong> new volunteer application(s).</p>

                    {% if errors %}
                        <hr>
                        <h5 class="text-danger">Import Errors</h5>
                        <p>The following rows could not be imported:</p>
                        <ul class="list-group">
                            {% for error in errors %}
                                <li class="list-group-item list-group-item-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    <hr>
                    <a href="{% url 'volunteer_list' %}" class="btn btn-primary">View Volunteer List</a>
                    <a href="{% url 'volunteer_csv_upload' %}" class="btn btn-secondary">Upload Another File</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
